-- SQL to update user passwords with correct bcrypt hashes

UPDATE users SET hashed_password = '$2b$12$GyMJE/Xsy7FVTiHh.M8Gj.LW0OMfJbiDChz.6tdRdgg4lr7SyRVFG' WHERE username = 'admin';
UPDATE users SET hashed_password = '$2b$12$mQIf2EOU9ApQ/rRIW33CRuXMYMcr8hv/tLBz7kbhWzWcZQV9PFGWC' WHERE username = 'john_doe';
UPDATE users SET hashed_password = '$2b$12$OBUo2h8GNXV2MIHJzb0Ha.GDHM9K3bjfhtIcmgsD4kfM16kEWhrXe' WHERE username = 'jane_viewer';

-- Verify
SELECT username, role, LEFT(hashed_password, 30) as hash_preview FROM users;
